[class*='ModuleTag'] {
  border-width: 3px;
  border-style: solid;
}

.ModuleTagLight {
  border-color: lightGreen;
}

.ModuleTagDark {
  border-color: blue;
}

[class~='white'] [class*='ModuleTag'] {
  border-color: white;
}
