[class^='_MySTagM'] {
  border-width: 3px;
  border-style: solid;
}

.MySTagMLight {
  border-color: lightGreen;
}

.MySTagMDark {
  border-color: aqua;
}

[class^='white'] [class^='_MySTagM'] {
  border-color: #fff;
}
